<section class="empanadas border-top border-black colorfondo text-center p-4">
    <div class="ps-3 pe-3">
        <h2 class="ms-md-5 pb-2">Menu de empanadas</h2>
        <table class="table table-bordered bordertable">
            <thead>
                <tr>
                    <th scope="col">Empanada</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Precio</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Empanada de Carne</td>
                    <td>Carne de res sasonada en masa casera</td>
                    <td>$5.000</td>
                </tr>
                <tr>
                    <td>Empanada de Pollo</td>
                    <td>Pollo desmenuzado con especias en masa crujiente</td>
                    <td>$5.000</td>
                </tr>
                <tr>
                    <td>Empanada de Huevo</td>
                    <td>Masa crujiente rellena de huevo duro en especias</td>
                    <td>$5.000</td>
                </tr>
                <tr>
                    <td>Empanada de Papa</td>
                    <td>Papas cocidas y sazonadas en masa crujiente</td>
                    <td>$5.000</td>
                </tr>
                <tr>
                    <td>Empanada de Papa y Arroz</td>
                    <td>Papa cocinada y arroz sazonado</td>
                    <td>$5.000</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<section class="gaseosas border-top border-black bg-warning text-center p-4">
    <div class="ps-3 pe-3">
        <h2 class="ms-md-5 pb-2">Menu de Bebidas</h2>

        <div class="row">
            <div class="col">
                <h4>Gaseosas:</h4>
                <table class="table table-bordered bordertable">
                    <thead>
                        <tr>
                            <th scope="col">Bebida</th>
                            <th scope="col">Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Coca-Cola</td>
                            <td>$2.500</td>
                        </tr>
                        <tr>
                            <td>Sprite</td>
                            <td>$2.500</td>
                        </tr>
                        <tr>
                            <td>Manzana</td>
                            <td>$2.500</td>
                        </tr>
                        <tr>
                            <td>Pepsi 1.5L</td>
                            <td>$4.000</td>
                        </tr>
                        <tr>
                            <td>Hit</td>
                            <td>$2.500</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <h4>Jugos:</h4>
                <table class="table table-bordered bordertable">
                    <thead>
                        <tr>
                            <th scope="col">Bebida</th>
                            <th scope="col">Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Mora en Leche</td>
                            <td>$3.500</td>
                        </tr>
                        <tr>
                            <td>Mora en Agua</td>
                            <td>$3.000</td>
                        </tr>
                        <tr>
                            <td>Mango</td>
                            <td>$3.000</td>
                        </tr>
                        <tr>
                            <td>Guayaba</td>
                            <td>$2.500</td>
                        </tr>
                        <tr>
                            <td>Lulo</td>
                            <td>$3.000</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<section class="Horarios border-top border-black text-center">
    <div class="container">
        <h2 class="ms-5 pb-2 mt-3">Horario de atención:</h2>
        <div class="row">
            <div class="col">
                <div class="card tarjetas mb-3">
                    <div class="card-header">Lunes</div>
                    <div class="card-body">
                        <p class="card-text">6:00 A.M. - 11:00 A.M</p>
                        <p class="card-text">11:30 A.M. - 3:30 P.M</p>
                        <p class="card-text">4:00 P.M. - 10:00 P.M</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card tarjetas mb-3">
                    <div class="card-header">Martes</div>
                    <div class="card-body">
                        <p class="card-text">8:00 A.M. - 1:00 P.M</p>
                        <p class="card-text">2:00 P.M. - 5:00 P.M</p>
                        <p class="card-text">7:00 P.M. - 10:00 P.M</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="card tarjetas mb-3">
                    <div class="card-header">Miércoles</div>
                    <div class="card-body">
                        <p class="card-text">9:00 A.M. - 2:00 P.M</p>
                        <p class="card-text">3:00 P.M. - 6:00 P.M</p>
                        <p class="card-text">5:00 P.M. - 8:00 P.M</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card tarjetas mb-3">
                    <div class="card-header">Jueves</div>
                    <div class="card-body">
                        <p class="card-text">6:30 A.M. - 11:30 A.M</p>
                        <p class="card-text">12:30 P.M. - 3:30 P.M</p>
                        <p class="card-text">4:30 P.M. - 7:30 P.M</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="card tarjetas mb-3">
                    <div class="card-header">Viernes</div>
                    <div class="card-body">
                        <p class="card-text">10:00 A.M. - 3:00 P.M</p>
                        <p class="card-text">4:00 P.M. - 7:00 P.M</p>
                        <p class="card-text">8:00 P.M. - 11:00 P.M</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card tarjetas mb-3">
                    <div class="card-header">Sábado</div>
                    <div class="card-body">
                        <p class="card-text">11:30 A.M. - 4:30 P.M</p>
                        <p class="card-text">5:30 P.M. - 8:30 P.M</p>
                        <p class="card-text">9:30 P.M. - 12:30 A.M</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="card tarjetas mb-3">
                    <div class="card-header">Domingo</div>
                    <div class="card-body">
                        <p class="card-text">12:00 P.M. - 5:00 P.M</p>
                        <p class="card-text">6:00 P.M. - 9:00 P.M</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>