<section class="descripcion border-top border-black text-center">
    <div class="bg-warning">
        <div class="container text-center p-4 text-black">
            <h3 class="ms-md-5 fw-bold">Descripción:</h3>
            <p class="fs-5">Empanadol es un restaurante especializado en la venta de deliciosas empanadas. Ofrecemos una
                gran
                variedad de
                sabores. Ademas, acompaña tus empanadas con deliciosos juegos de la casa.</p>
            <h4 class="ms-md-5 fw-bold">Coordial invitacion a nuestro local fisico:</h4>
            <p class="fs-5">Cra. 00 Nr. 00-00, <span class="fw-bold">Barrio:</span> Calatrava</p>
        </div>
    </div>
</section>

<section class="tablas">
    <app-tablas></app-tablas>
</section>